# Files
.classpath
.project
.settings
.DS_Store
nb-configuration.xml
jboss.xml

#dirs
target
/AutomatedMetricsStandalone/JBossAutomatedMetricsProperties/target2/
/ApplicationMetricsStandalone/ApplicationMetricsApiTest15/ApplicationMetricsApiTest15-web/target2/